@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

:root{
    --global-font: 'Inconsolata', sans-serif;
}

*{
    box-sizing: border-box;
}
/* BODY */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', sans-serif;
    margin: 0;
}
/* // Header */
h1{
font-size: 4rem;
font-weight: 400;
}

.container {
    margin: 50px;
}
.task{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}
.task-container{
    
    margin-right: 15px;
}
.input-container{
    border-bottom: 1px solid black;
    margin-left: 15px;
    margin-top: -5px;

}

/* LIST ELEMENTS */
.list{
    width: 1000px;
}

.list-handler{
    margin: 0;
    padding: 0;
}

.list-element{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid black;
}
/* input text */
input[type="text"]{
    border: 0;
    font-size: 2rem;
    font-family: 'Inconsolata', sans-serif;
}

input[type="text"]:focus {
    outline: 0;
    border: 0;
}
/* Input[type=checkbox] */
input[type="checkbox"]{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1rem;
    margin: 30px 30px 30px 0;
    padding: 40px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: black;
   
    /* border: 1px solid lightgray; */
}
input[type="checkbox"]:checked {
    background: #2aa1c0;
}

input[type="checkbox"]:hover {
    filter: brightness(90%);
}
/* input submit */
input[type="submit"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 2rem;

}
input[type="submit"]:focus{
    border:0;
    outline: 0;
    background-color: black;
    color: #fff
}
.invisible-handler{
    display: none;
}


p{
    font-size: 6rem;
    margin: 30px 0;
    padding: 0;
}